.page-header
  = link_to users_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_user_path(@user), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show user

%dl.dl-horizontal
  %dd= @user.avatar
  %dt Username:
  %dd= @user.username
  %dt Full name:
  %dd= @user.full_name
  %dt Twitter name:
  %dd= @user.twitter_name
  %dt Github name:
  %dd= @user.github_name
  %dt Url:
  %dd= @user.website
  %dt Avatar image name:
  %dd= @user.avatar_image_name
  %dt Bio:
  %dd= @user.bio
